<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    SEA
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <link href="/demo/demo1.css" rel="stylesheet" />
  <link rel="stylesheet" href="preeti.css">
</head>

<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="./landingpage">
          Student Management Application </a>
        
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/img/landing.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title ">Your Story Starts With Us.</h1>
          <style>

          </style>
          
          <h3>Education is the passport to the future, for tomorrow belongs those who prepare for it today.                       
          </h3>
          <h5>Making an Impact in Classrooms and Communities</h5>
          <br>
            <button type="button" class="btn btn-danger btn-raised btn-lg" onClick="location.href='/index'">Login</button>
            <button type="button" class="btn btn-danger btn-raised btn-lg" onClick="location.href='/register'">Register</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Website Description</h2>
            <h5 class="description">With the help of database, a student record keeping management system can be created.Th edatabase contains students general information such as name cobtact information, address ,admisson year, courses etc. This automated system is beneficial and will stremline the university administration process to a considerable degree.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">group</i>
                </div>
                <h4 class="info-title">All in One</h4>
                <p>The application provides a common platform for Teachers and Students for smooth conduction of academic activities.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Verified Users</h4>
                <p>The users in our system are verified by means of the email-id.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">sentiment_very_satisfied</i>
                </div>
                <h4 class="info-title">User Friendly</h4>
                <p>The application has a easy to use interface coupled with functionality that are need of the hour for quick adaptability to the environment. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> for
        <a href="https://www.amrita.edu/school/engineering/bengaluru/computer-science" target="_blank">IIITA</a>
      </div>
    </div>
  </footer>
  <script src="/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="/js/plugins/moment.min.js"></script>
  <script src="/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <script src="/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <script src="/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
</body>

</html>